@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

.font {
    font-family: 'Bilbo', cursive;
}

/* .area{
    height: 100vh;
} */

.auth-btn {
    width: 328px;
    height: 56px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);

    /* margin-: 24px 16px 14px 16px ; */

}
.play-btn {
    height: 40px;
    width: 296px;
    border-radius: 8px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);

    

}
.new{
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
}

.card {
    width: 328px;
    height: 199px;
    padding: 16px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}