@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

body{
    font-family: 'Epilogue', sans-serif;
    /* margin-left: 24px;
    margin-right: 24px; */
    margin-top: 38px;
    color: #333333;
}